@import url(https://fonts.google.com/css?family=Noto=Sans);
<!doctype html>
<link rel="stylesheet" href="main.css">

h1{
    background-image: "etihadfcnzlogo.jpg";
    font-family: 'Noto Sans';
    font-size: 130px;
    

}
h2{

}


h3{

}
p{

}