@import url(https://fonts.google.com/css?family=Noto=Sans);
<!doctype html>
<link rel="stylesheet" href="main.css">

h1{
    text-align: center;
}
span{
    font-family: 'Noto Sans';
    font-size: 40px;
    text-align: center;
    width: 1024px;
    color: white;

}
h2{
    color: white;

}


h3{
    text-align: center;
    color: white;

}
p{
    color:white ;
    width: 525px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    padding: 5px;

}
img{
    width: 300px;
    border-radius: 1000px;
    vertical-align: middle;
    margin: 10px;
}
body{
    background-color: ;

}
p1{
    vertical-align: right;
    color:white;
    width: 525px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 5px;
    
    
}
body{
    background-color: rgb(56, 99, 242);
}

a{
    text-decoration:underline;
    color: white;
}